CompileFlags:
  Add:
    - --target=arm-none-eabi
    - -mcpu=cortex-m4
    - -mthumb
    - -Ikernels/arm/include
    - -Ikernels/arm/drivers/k64f
    - -Ikernels/arm/drivers/stm32h753zi
    - -Iinclude
